#wrapper {
    background-color: #fbf7f5;
    margin-left: 10vw;
}

img.main-image {
    width: 100%;
    max-height: 50vh;
}

header h4 {
    padding-left: 2vw;
    font-size:45px;
}

hr {
    border-top: 3px solid #bbb;
    margin-left: 10vw;
    
}
h2 {
    color: #4acaa8;
    font-weight: 700;
    font-size: 50px;
    font-family: 'Outfit', sans-serif;
}
h3 {
    color:#4acaa8;
    font-size: 35px;
    font-weight: 500;
    font-family: 'Outfit', sans-serif;
}
h4 {
   color: #014f86;
   font-family: 'Outfit', sans-serif; 
}
p {
    font-family: 'Outfit', sans-serif;
    color:#6c757d;
    margin-bottom: 0 !important;
}
ul.feature-skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}
li {
    color:#014f86;
}
